# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Project specific
.wrangler/
files-to-redeploy/
/config.yaml
/UUID.txt

# OS
.DS_Store
Thumbs.db
.omo
